<!-- max-w-lg px-4 md:max-w-screen-2xl --><!-- <footer class="theme-surface"> -->
<footer class="max-w-lg px-4 md:max-w-screen-2xl px-6 py-4 mx-auto">
  <div class="lg:flex">
    <div class="">
      <div class="px-6">
        <div>
          <a href="/" class=""
            ><img
              data-sizes="auto"
              data-src="/images/logos/jakessteamer-carpet-cleaning-company-logo-355w.png"
              src="/images/logos/jakessteamer-carpet-cleaning-company-logo-355w.png"
              alt=""
              decoding="async"
              class="lazyautosizes lazyloaded"
              sizes="355px"
            />
          </a>
        </div><div class="flex -mx-2">
          <a
            href="https://www.facebook.com/jakessteamer01/"
            class="mx-2 text-blue-900 dark:text-white-accent hover:text-blue-900 dark:hover:text-blue-500"
            aria-label="Facebook"
            ><svg class="w-6 h-6 fill-current" viewBox="0 0 512 512"
              ><path
                d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z"
              ></path>
            </svg>
          </a><a
            href="https://www.facebook.com/jakessteamer01/"
            class="text-blue-500 text-sm md:text-lg">Follow Us On Facebook</a
          >
        </div>
      </div>
    </div><div class="mt-6 flex-grow">
      <div class="flex flex-col lg:flex-row">
        <div class="flex-grow">
          <p class="text-gray-700 uppercase md:text-lg dark:text-white-accent">Contact</p><div
            class="h-1 w-1/2 bg-blue-500 rounded h-underline mb-4"
          >
          </div><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            West Texas
          </p><a
            href="tel:+14328474600"
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
            >432-847-4600</a
          ><a
            href="mailto:jakessteamer@gmail.com"
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
            >jakessteamer@gmail.com</a
          >
        </div><div class="flex-grow">
          <p class="text-gray-700 uppercase md:text-lg dark:text-white-accent">
            Service Areas:
          </p><div class="h-1 w-1/2 bg-blue-500 rounded h-underline mb-4"></div><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Gaines County
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Andrews County
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Midland County
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Yoakum County
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Dawson County
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Terry County
          </p>
        </div><div class="flex-grow">
          <p class="text-gray-700 uppercase md:text-lg dark:text-white-accent">Hours:</p><div
            class="h-1 w-1/2 bg-blue-500 rounded h-underline mb-4"
          >
          </div><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Sunday: Closed
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Monday - Friday: 8:00AM-6:00PM
          </p><p
            class="block mt-2 text-sm md:text-lg text-blue-900 dark:text-blue-500 hover:underline"
          >
            Saturday: Saturday 8:00AM-12:00AM
          </p>
        </div>
      </div>
    </div>
  </div><hr class="h-px my-6 bg-gray-300 border-none dark:bg-gray-700" /><div>
    <p class="text-center text-gray-800 dark:text-white-accent">
      © Jake's Steamer 2021 - All rights reserved
    </p>
  </div>
</footer>
<!-- </footer> -->
