<section
	class="pt-20 mb-20 space-y-20 sm:pt-32 sm:mb-32 sm:space-y-32 md:pt-40 md:mb-40 md:space-y-40 max-w-7xl mx-auto">
	<div
		class="snap-x mx-auto snap-mandatory flex space-x-4 lg:space-x-8 pb-12 overflow-x-scroll hide-scroll-bar touch-pan-x">
		<div
			class="snap-start flex w-64 h-64 bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
			<div
				class="flex w-64 h-64 shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<img
					data-src="images/carpets/carpet-comparison-3.jpg"
					data-sizes="auto"
					class="lazyload max-w-full max-h-full rounded-lg"
					data-parent-fit="contain"
				/>
			</div>
		</div>
		<div
			class="snap-start flex w-64 h-64 bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
			<div
				class="flex w-64 h-64 shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<img
					data-src="images/carpets/carpet-deep-clean.jpg"
					data-sizes="auto"
					class="lazyload max-w-full max-h-full rounded-lg"
					data-parent-fit="contain"
				/>
			</div>
		</div>
		<div
			class="snap-start flex w-64 h-64 bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
			<div
				class="flex w-64 h-64 shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<img
					data-src="images/carpets/carpet-comparison-2.jpg"
					data-sizes="auto"
					class="lazyload max-w-full max-h-full rounded-lg"
					data-parent-fit="contain"
				/>
			</div>
		</div>
		<div
			class="snap-start flex w-64 h-64 bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
			<div
				class="flex w-64 h-64 shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<img
					data-src="images/carpets/carpet-8-after-640x640-md.jpg"
					data-sizes="auto"
					class="lazyload max-w-full max-h-full rounded-lg"
					data-parent-fit="contain"
				/>
			</div>
		</div>
		<div
			class="snap-start flex w-64 h-64 bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
			<div
				class="flex w-64 h-64 shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
				<img
					data-src="images/carpets/carpet-comparison-3.jpg"
					data-sizes="auto"
					class="lazyload max-w-full max-h-full rounded-lg"
					data-parent-fit="contain"
				/>
			</div>
		</div>
	</div>
</section>
