<div
  class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-3 max-w-lg md:max-w-screen-2xl"
>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/components/alert"
    ><figure class="px-4 pt-4">
      <img
        src="/images/carpet-cleaning-service-card.webp"
        class="border-base-content bg-base-300 rounded-lg border border-opacity-5"
        alt="Alert"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Alert</h2>
      <p class="text-xs opacity-60">Alert informs users about important events.</p>
    </div>
  </a>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/components/artboard"
    ><figure class="px-4 pt-4">
      <img
        src="/images/components/artboard.jpg"
        class="border-base-content bg-base-300 rounded-lg border border-opacity-5"
        alt="Artboard"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Artboard</h2>
      <p class="text-xs opacity-60">
        Artboard provides fixed size container to display a demo content on mobile size.
      </p>
    </div>
  </a>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/components/avatar"
    ><figure class="px-4 pt-4">
      <img
        src="/images/components/avatar.jpg"
        class="border-base-content bg-base-300 rounded-lg border border-opacity-5"
        alt="Avatar"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Avatar</h2>
      <p class="text-xs opacity-60">
        Avatars are used to show a thumbnail representation of an individual or business in the
        interface.
      </p>
    </div>
  </a>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/components/badge"
    ><figure class="px-4 pt-4">
      <img
        src="/images/components/badge.jpg"
        class="border-base-content bg-base-300 rounded-lg border border-opacity-5"
        alt="Badge"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Badge</h2>
      <p class="text-xs opacity-60">
        Badges are used to inform the user of the status of specific data.
      </p>
    </div>
  </a>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/components/bottom-navigation"
    ><figure class="px-4 pt-4">
      <img
        src="/images/components/bottom-navigation.jpg"
        class="border-base-content bg-base-300 rounded-lg border border-opacity-5"
        alt="Bottom navigation"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Bottom navigation</h2>
      <p class="text-xs opacity-60">
        Bottom navigation bar allows navigation between primary screens
      </p>
    </div>
  </a>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/components/breadcrumbs"
    ><figure class="px-4 pt-4">
      <img
        src="/images/components/breadcrumbs.jpg"
        class="border-base-content bg-base-300 rounded-lg border border-opacity-5"
        alt="Breadcrumbs"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Breadcrumbs</h2>
      <p class="text-xs opacity-60">Breadcrumbs helps users to navigate through the website.</p>
    </div>
  </a>
</div>
