<section
  tabindex="-1"
  class="relative max-w-lg md:max-w-screen-2xl mx-auto px-4 focus:outline-none sm:px-3 md:px-5"
>
  <h2 class="sr-only">Testimonials</h2><div
    class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3"
  >
    <ul class="space-y-8">
      <!-- <li class="text-sm leading-6">
				<figure
					class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5">
					<blockquote class="mt-6 text-slate-700 dark:text-slate-300">
						<p>I feel like an idiot for not using Tailwind CSS until now.</p>
					</blockquote><figcaption class="flex items-center space-x-4">
						<img
							src="/_next/static/media/ryan-florence.3af9c9d9.jpg"
							alt=""
							class="flex-none w-14 h-14 rounded-full object-cover"
							loading="lazy"
							decoding="async"
						/><div class="flex-auto">
							<div class="text-base text-slate-900 font-semibold dark:text-slate-300">
								<a
									href="https://twitter.com/ryanflorence/status/1187951799442886656"
									tabindex="0"
									><span class="absolute inset-0"></span>Ryan Florence</a
								>
							</div><div class="mt-0.5">Remix &amp; React Training</div>
						</div>
					</figcaption>
				</figure>
			</li> -->
    </ul>
    <ul class="space-y-8 hidden sm:block">
      <li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Have been working with CSS for over ten years and Tailwind just makes my life easier.
              It is still CSS and you use flex, grid, etc. but just quicker to write and maintain.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/debbie-obrien.69d3104d.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/debs_obrien/status/1243255468241420288" tabindex="0"
                  ><span class="absolute inset-0"></span>Debbie O'Brien</a
                >
              </div><div class="mt-0.5">Senior Program Manager at Microsoft</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I’ve been writing CSS for over 20 years, and up until 2017, the way I wrote it changed
              frequently. It’s not a coincidence Tailwind was released the same year. It might look
              wrong, but spend time with it and you’ll realize semantic CSS was a 20 year mistake.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/frontendben.7c4b54bd.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/frontendben/status/1468687028036452363" tabindex="0"
                  ><span class="absolute inset-0"></span>Ben Furfie</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>Tailwind makes writing code feel like I’m using a design tool.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/didiercatz.5a884729.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/didiercatz/status/1468657403382181901" tabindex="0"
                  ><span class="absolute inset-0"></span>Didier Catz</a
                >
              </div><div class="mt-0.5">Co-Founder @StyptApp</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind CSS is bridging the gap between design systems and products. It’s becoming
              the defacto API for styling.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/frontstuff_io.b46365eb.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/frontstuff_io/status/1468667263532339204" tabindex="0"
                  ><span class="absolute inset-0"></span>Sarah Dayan</a
                >
              </div><div class="mt-0.5">Staff Software Engineer @Algolia</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>I never want to write regular CSS again. Only @tailwindcss.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/trey.f3b7deed.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/trey/status/1457854984020762626" tabindex="0"
                  ><span class="absolute inset-0"></span>Trey Piepmeier</a
                >
              </div><div class="mt-0.5">Web Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I came into my job wondering why the last dev would ever implement Tailwind into our
              projects, within days I was a Tailwind convert and use it for all of my personal
              projects.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/madeline-campbell.a921c78c.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a
                  href="https://twitter.com/maddiexcampbell/status/1303752658029740032"
                  tabindex="0"><span class="absolute inset-0"></span>Madeline Campbell</a
                >
              </div><div class="mt-0.5">Full-Stack Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind made me enjoy frontend development again and gave me the confidence that I
              can realize any design - no matter how complex it may be.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/marcelpociot.7320552c.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/marcelpociot/status/1468664587146956803" tabindex="0"
                  ><span class="absolute inset-0"></span>Marcel Pociot</a
                >
              </div><div class="mt-0.5">CTO at @beyondcode</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>Tailwind turned me into a complete stack developer.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/lepikhinb.46ae6039.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/lepikhinb/status/1468665237155074056" tabindex="0"
                  ><span class="absolute inset-0"></span>Boris Lepikhin</a
                >
              </div><div class="mt-0.5">Full-Stack Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind is the easiest and simplest part of any project I work on. I can't imagine
              I'll build anything big without it.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/assertchris.6de035bd.png"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/assertchris/status/1468651427664908292" tabindex="0"
                  ><span class="absolute inset-0"></span>Christopher Pitt</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind CSS has alleviated so many problems we've all become accustomed to with
              traditional CSS that it makes you wonder how you ever developed websites without it.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/ChaseGiunta.9546ecc8.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/ChaseGiunta/status/1468658689569665026" tabindex="0"
                  ><span class="absolute inset-0"></span>Chase Giunta</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Having used other CSS frameworks, I always come back to Tailwind CSS as it gives me
              the ability to create a consistent and easy to use design system in my projects.
              Thanks to Tailwind CSS I only need one cup of coffee to get started on a new project.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/zaku_dev.1a3d1908.png"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/zaku_dev/status/1468666521895325697" tabindex="0"
                  ><span class="absolute inset-0"></span>Ivan Guzman</a
                >
              </div><div class="mt-0.5">Software Engineer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I’ve been using TailwindCSS for many years, and yet they seem to still amaze us every
              year with the updates. It’s aided me in building websites super quickly, I could never
              go back to boring old CSS classes!
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/heychazza.9beb0694.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/heychazza" tabindex="0"
                  ><span class="absolute inset-0"></span>Charlie Joseph</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind CSS is a design system implementation in pure CSS. It is also configurable.
              It gives developers super powers. It allows them to build websites with a clean
              consistent UI out of the box. It integrates well with any web dev framework because
              it‘s just CSS! Genius.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/kahliltweets.c2aa7c52.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/kahliltweets/status/1468654856617476097" tabindex="0"
                  ><span class="absolute inset-0"></span>Kahlil Lechelt</a
                >
              </div><div class="mt-0.5">JavaScript Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              It’s super simple to slowly migrate to Tailwind from e.g. Bootstrap by using its
              prefix feature. Benefiting from its features while not having to spend a lot of time
              upfront is amazing!
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/MarcoSinghof.2728bf9a.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/MarcoSinghof/status/1468654001772244993" tabindex="0"
                  ><span class="absolute inset-0"></span>Marco Singhof</a
                >
              </div><div class="mt-0.5">Full-Stack Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I wasn’t comfortable using CSS until I met Tailwind. Its easy to use abstraction
              combined with excellent documentation are a game changer!
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/joostmeijles.11ccd823.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/joostmeijles/status/1468650757876555778" tabindex="0"
                  ><span class="absolute inset-0"></span>Joost Meijles</a
                >
              </div><div class="mt-0.5">Head of Unplatform @avivasolutions</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind turns implementing designs from a chore to a joy. You'll fall in love with
              building for the web all over again.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/_swanson.4c431e5e.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/_swanson/status/1468653854199853057" tabindex="0"
                  ><span class="absolute inset-0"></span>Matt Swanson</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind CSS helps you eject from the complexity of abstracting styles away. Having
              styles right there in your HTML is powerful, which gets even more obvious when using
              products like Tailwind UI.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/silvenon.48b09429.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/silvenon/status/1468676092504551433" tabindex="0"
                  ><span class="absolute inset-0"></span>Matija Marohnić</a
                >
              </div><div class="mt-0.5">Front-End Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              If Tailwind is like Tachyons on steroids, Tailwind UI is like Lance Armstrong winning
              the Tour de France (seven times). Without, of course, the scandal and shame.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/hughdurkin.59a2362f.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/hughdurkin/status/1468658970848079872" tabindex="0"
                  ><span class="absolute inset-0"></span>Hugh Durkin</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Being burned by other abandoned CSS frameworks, my biggest fear was to bet on yet
              another framework that may disappear. However, I gave it a try and couldn’t be
              happier. They keep improving the framework in meaningful ways on a regular basis. It
              feels very much alive.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/wolax.4ad2552b.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/wolax/status/1468653118443470848" tabindex="0"
                  ><span class="absolute inset-0"></span>Matthias Schmidt</a
                >
              </div><div class="mt-0.5">Programmer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Getting buy-in on TailwindCSS from our entire team of developers took some time and
              discussion, but once we implemented company wide, it has made it a breeze for any
              developer to jump into any project and quickly make changes/enhancements.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/jerredchurst.c7c2a8e0.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/jerredchurst/status/1468657838494998530" tabindex="0"
                  ><span class="absolute inset-0"></span>Jerred Hurst</a
                >
              </div><div class="mt-0.5">CTO Primitive</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind CSS has at the same time made CSS enjoyable and drastically changed how I
              build out products. It's rapid, efficient and an absolute joy to work with.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/braunshizzle.b79c4dbf.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/braunshizzle/status/1468676003941830666" tabindex="0"
                  ><span class="absolute inset-0"></span>Braunson Yager</a
                >
              </div><div class="mt-0.5">Full Stack Developer &amp; Designer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Using any CSS framework other than Tailwind seems like a step backward in web
              development at this point. Absolutely nothing else comes close to making me as
              productive during the design phase of development than Tailwind.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/zac_zajdel.f8bdbd3e.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/zac_zajdel/status/1468662057079914499" tabindex="0"
                  ><span class="absolute inset-0"></span>Zac Jordan Zajdel</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind has completely revolutionized our devops pipeline. The CLI works consistently
              no matter what framework is in place.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/joelvarty.bc5260c3.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/joelvarty/status/1468671752356126728" tabindex="0"
                  ><span class="absolute inset-0"></span>Joel Varty</a
                >
              </div><div class="mt-0.5">President &amp; CTO @agilitycms</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind is like a really nice pair of socks. You think, “okay, how good can a pair of
              socks be”. Then you put socks on and you are like “%@#! these are socks”.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/NeilDocherty.82676bb6.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/NeilDocherty/status/1468668979698937859" tabindex="0"
                  ><span class="absolute inset-0"></span>Neil Docherty</a
                >
              </div><div class="mt-0.5">Software Engineer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind unified our css work across different client projects more than any other
              methodology, while letting us keep our bespoke designs, and even improved performance
              and stability of our sites.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/skttl.772c55ff.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/skttl/status/1468669231864725514" tabindex="0"
                  ><span class="absolute inset-0"></span>Søren Kottal</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>Tailwind is the only way to work with CSS at scale.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/aarondfrancis.de1f2f3a.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/aarondfrancis/status/1468696321607544840" tabindex="0"
                  ><span class="absolute inset-0"></span>Aaron Francis</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              TailwindCSS has single-handedly been the biggest and most impactful change for our
              team's development workflow. I'm glad I live in a universe where Tailwind exists.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/Megasanjay.e67e36c6.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/Megasanjay/status/1468674483099557890" tabindex="0"
                  ><span class="absolute inset-0"></span>Sanjay Soundarajan</a
                >
              </div><div class="mt-0.5">Front-End Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind solves a complex problem in an elegant way. It provides a ready-to-use UI,
              all while not compromising on enabling developers to quickly build anything
              imaginable.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/brentgarner.09ab30c4.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/brentgarner/status/1468676369143926789" tabindex="0"
                  ><span class="absolute inset-0"></span>Brent Garner</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
    <ul class="space-y-8 hidden lg:block">
      <li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>Skip to the end. Use @tailwindcss.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/kentcdodds.90894efe.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/kentcdodds/status/1468692023158796289" tabindex="0"
                  ><span class="absolute inset-0"></span>Kent C. Dodds</a
                >
              </div><div class="mt-0.5">Developer and Educator</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I was bad at front-end until I discovered Tailwind CSS. I have learnt a lot more about
              design and CSS itself after I started working with Tailwind. Creating web pages is 5x
              faster now.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/shrutibalasa.8c3514ba.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/shrutibalasa" tabindex="0"
                  ><span class="absolute inset-0"></span>Shruti Balasa</a
                >
              </div><div class="mt-0.5">Full Stack Web Developer &amp; Tech Educator</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>I don't use it but if I would use something I'd use Tailwind!</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/levelsio.a3935ad1.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/levelsio/status/1288542608390856705" tabindex="0"
                  ><span class="absolute inset-0"></span>Pieter Levels</a
                >
              </div><div class="mt-0.5">Maker</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              With Tailwind I can offer my clients faster turnaround times on custom WordPress
              themes, both for initial builds and for future revisions.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/gregsvn.71ec2ec2.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/gregsvn/status/1468667690042617857" tabindex="0"
                  ><span class="absolute inset-0"></span>Greg Sullivan</a
                >
              </div><div class="mt-0.5">WordPress Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>Thanks to @tailwindcss, CSS started to make sense to me.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/enunomaduro.a9372a09.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/enunomaduro/status/1468650695104647170" tabindex="0"
                  ><span class="absolute inset-0"></span>Nuno Maduro</a
                >
              </div><div class="mt-0.5">Core Team Member @laravelphp</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind clicked for me almost immediately. I can't picture myself writing another BEM
              class ever again. Happy user since the first public release! Productivity is at an all
              time high, thanks to @tailwindcss.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/igor_randj.5c9286b1.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/igor_randj/status/1468654576576380930" tabindex="0"
                  ><span class="absolute inset-0"></span>Igor Randjelovic</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              CSS has always been the hardest part of offering a digital service. It made me feel
              like a bad developer. Tailwind gives me confidence in web development again. Their
              docs are my first port of call.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/ohhdanm.5a10acca.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/ohhdanm/status/1468653056988528643" tabindex="0"
                  ><span class="absolute inset-0"></span>Dan Malone</a
                >
              </div><div class="mt-0.5">Founder of @mawla_io</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I thought "Why would I need Tailwind CSS? I already know CSS and use Bootstrap", but
              after giving it a try I decided to switch all my projects to Tailwind.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/sertxudev.23e05fb7.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/sertxudev/status/1468660429715030019" tabindex="0"
                  ><span class="absolute inset-0"></span>Sergio Peris</a
                >
              </div><div class="mt-0.5">DevOps Engineer &amp; Network Administrator</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              The Tailwind docs are its real magic. It is actually better documented than CSS
              itself. It’s such a pleasure to use.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/zachknicker.315b9ef2.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/zachknicker/status/1468662554658443264" tabindex="0"
                  ><span class="absolute inset-0"></span>Zach Knickerbocker</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I've never felt more confident designing and styling websites and web apps than when
              I've used TailwindCSS.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/grossmeyer.7e442b1d.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/grossmeyer/status/1468671286415089666" tabindex="0"
                  ><span class="absolute inset-0"></span>Glenn Meyer</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tried it once, never looked back. Tailwindcss convert since 0.7 and it just keeps
              getting better and better.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/Jan_DHollander.bbd0da72.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/Jan_DHollander/status/1468653579405770754" tabindex="0"
                  ><span class="absolute inset-0"></span>Jan D'Hollander</a
                >
              </div><div class="mt-0.5">Front-End Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              If you work at an agency and deal with hundreds of unique sites, each of them having
              their own custom CSS is a nightmare. Do your future self a favor and use Tailwind!
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/waunakeesoccer1.82f8a8e7.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a
                  href="https://twitter.com/waunakeesoccer1/status/1468736369757466625"
                  tabindex="0"><span class="absolute inset-0"></span>Andrew Brown</a
                >
              </div><div class="mt-0.5"></div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Before Tailwind CSS I was banging my head against the wall trying to make sense of my
              CSS spaghetti. Now I am banging my head against the wall wondering why I didn’t try it
              earlier. My head hurts and my wall has a big hole in it. But at least using CSS is
              pleasant again!
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/marckohlbrugge.060b888e.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/marckohlbrugge/status/1468731283400536071" tabindex="0"
                  ><span class="absolute inset-0"></span>Marc Köhlbrugge</a
                >
              </div><div class="mt-0.5"></div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I was skeptical at first and resisted for a long time but after doing the first
              projects with Tailwind CSS this year, normal CSS just feels wrong and slow.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/davidhellmann.c095a0a1.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/davidhellmann/status/1468703979232272398" tabindex="0"
                  ><span class="absolute inset-0"></span>David Hellmann</a
                >
              </div><div class="mt-0.5">Digital Designer &amp; Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              After using Tailwind for the first time, I wondered why I used anything else. It's now
              my go-to CSS framework for any application, production or prototype.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/all_about_code.f2b1c67a.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/all_about_code/status/1468651643210240000" tabindex="0"
                  ><span class="absolute inset-0"></span>Joshua Lowe</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind not only made me able to focus on building great UI’s but it also improved my
              overall CSS skills by having such a wonderful docs site when I needed to handwrite
              CSS.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/joshmanders.626b28b6.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/joshmanders/status/1468710484396359681" tabindex="0"
                  ><span class="absolute inset-0"></span>Josh Manders</a
                >
              </div><div class="mt-0.5">Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Using Tailwind is an accelerant for rapid prototyping design systems. Strong
              documentation, helpful community, and instant results.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/igaenssley.0a53d3f2.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/igaenssley/status/1468674047328370690" tabindex="0"
                  ><span class="absolute inset-0"></span>Ian Gaenssley</a
                >
              </div><div class="mt-0.5">Design Operations Lead at BetterCloud</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I instinctively hated utility CSS, but Tailwind completely converted me. It reignited
              my excitement for front-end development and implementing custom designs!
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/jessarchercodes.a6da1ebd.png"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a
                  href="https://twitter.com/jessarchercodes/status/1468743738545434626"
                  tabindex="0"><span class="absolute inset-0"></span>Jess Archer</a
                >
              </div><div class="mt-0.5">Full-Stack Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind CSS bridges the gap between design and dev more than anything else. It
              reintroduces context to development, limits cognitive load with choice architecture,
              grants access to a token library out of the box and is incredibly easy to pickup. It
              helped my design career so much.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/CoreyGinnivan.ca914678.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/CoreyGinnivan/status/1468698985435041794" tabindex="0"
                  ><span class="absolute inset-0"></span>Corey Ginnivan</a
                >
              </div><div class="mt-0.5">Co-Founder of FeatureBoard</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              When I'm working on a project that isn't using Tailwind, first I yell, then I take a
              deep breath, then I run npm install tailwindcss.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/ryanchenkie.3aafea1d.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/ryanchenkie/status/1468675898559840263" tabindex="0"
                  ><span class="absolute inset-0"></span>Ryan Chenkie</a
                >
              </div><div class="mt-0.5"></div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Going back to a large website that doesn't use Tailwind is like hopping out of a Tesla
              and into my dad's rusted Minnesota farm truck. Sure, it works, but the clutch is
              slipping, the brakes barely work, and it's filled with old tires we're not even using
              anymore.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/dangayle.0879fd42.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/dangayle/status/1468738215431467008" tabindex="0"
                  ><span class="absolute inset-0"></span>Dan Gayle</a
                >
              </div><div class="mt-0.5">Senior Front-End Developer @CrateandBarrel</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I pushed back hard at the mention of Tailwind initially due to the number of classes
              in my code however within 5 minutes or using it I was hooked and now am the annoying
              guy pushing Tailwind on anyone who will listen. It has simplified my dev workflow
              beyond measurement.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/dbrooking.7cd5a6ad.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/dbrooking/status/1468718511040126982" tabindex="0"
                  ><span class="absolute inset-0"></span>Dan Brooking</a
                >
              </div><div class="mt-0.5">Head Engineer @SubscriptionBox</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              I never bothered to learn vanilla CSS because it’s a waste of time — why bother when I
              have Tailwind instead? Turns out I learned a ton of CSS anyway just by using Tailwind.
              It’s such a perfect middleground between thoughtful abstraction, while still letting
              you break free.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/TrevorCampbell_.4e550103.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a
                  href="https://twitter.com/TrevorCampbell_/status/1468739918662930432"
                  tabindex="0"><span class="absolute inset-0"></span>Trevor Campbell</a
                >
              </div><div class="mt-0.5"></div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind and the ecosystem around it is like a giant turbocharger for web agencies. It
              helps teams of developers and designers develop a shared language and system of
              constraints that speeds up the entire process. It's a game-changer for efficient
              teamwork.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/sagalbot.969fdd73.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/sagalbot/status/1468727120218103809" tabindex="0"
                  ><span class="absolute inset-0"></span>Jeff Sagal</a
                >
              </div><div class="mt-0.5">Full-Stack Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind provides the style of bespoke design, the constraint of a design system, and
              the flexibility to make it infinitely customizable, without being shoehorned into
              making every website look like it was cut from the same cloth.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/michaeldyrynda.7f51e6f7.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/michaeldyrynda/status/1468720374657392645" tabindex="0"
                  ><span class="absolute inset-0"></span>Michael Dyrynda</a
                >
              </div><div class="mt-0.5">Australian</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Tailwind completely changed my freelance career by allowing me to build out completely
              custom designs really fast without writing any CSS.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/jasonlbeggs.6eec98a8.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/jasonlbeggs/status/1468666464911736835" tabindex="0"
                  ><span class="absolute inset-0"></span>Jason Beggs</a
                >
              </div><div class="mt-0.5">Front-End Developer</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>Using TailwindCSS will make you feel like you just unlocked a cheat code.</p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/dpaluy.85265b1e.png"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/dpaluy/status/1468678245327454211" tabindex="0"
                  ><span class="absolute inset-0"></span>David Paluy</a
                >
              </div><div class="mt-0.5">CTO @Quartix</div>
            </div>
          </figcaption>
        </figure>
      </li><li class="text-sm leading-6">
        <figure
          class="relative flex flex-col-reverse bg-slate-50 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
        >
          <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
            <p>
              Every developer I’ve convinced to give Tailwind a try has come back and said they are
              never going back. Every. Single. One.
            </p>
          </blockquote><figcaption class="flex items-center space-x-4">
            <img
              src="/_next/static/media/jacobgraf.38000717.jpg"
              alt=""
              class="flex-none w-14 h-14 rounded-full object-cover"
              loading="lazy"
              decoding="async"
            /><div class="flex-auto">
              <div class="text-base text-slate-900 font-semibold dark:text-slate-300">
                <a href="https://twitter.com/jacobgraf/status/1468931374245687298" tabindex="0"
                  ><span class="absolute inset-0"></span>Jacob Graf</a
                >
              </div><div class="mt-0.5">Web Developer</div>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div><div
    class="inset-x-0 bottom-0 flex justify-center bg-gradient-to-t from-white pt-32 pb-8 pointer-events-none dark:from-slate-900 sticky -mt-52 transition-opacity duration-300 opacity-100"
  >
    <button
      type="button"
      class="relative bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 text-sm text-white font-semibold h-12 px-6 rounded-lg flex items-center dark:bg-slate-700 dark:hover:bg-slate-600 transition-transform pointer-events-auto"
      >Okay, I get the point</button
    >
  </div>
</section>

<script>
  //     fetch("https://pro.housecallpro.com/alpha/organization/reviews/settings", {
  //   "headers": {
  //     "accept": "*/*",
  //     "accept-language": "en-US,en;q=0.5",
  //     "authorization": "Token e5fb241079164c83aa85e58e9aa1b12b",
  //     "cache-control": "no-cache",
  //     "pragma": "no-cache",
  //     "sec-fetch-dest": "empty",
  //     "sec-fetch-mode": "cors",
  //     "sec-fetch-site": "cross-site",
  //     "sec-gpc": "1"
  //   },
  //   "referrer": "https://www.jakessteamer.com/",
  //   "referrerPolicy": "origin-when-cross-origin",
  //   "body": null,
  //   "method": "GET",
  //   "mode": "cors",
  //   "credentials": "include"
  // });
  // fetch("https://client.housecallpro.com/reviews/reviews/99a699f2-c01d-4a40-9690-d49c6b8eea83/", {
  //   "headers": {
  //     "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
  //     "accept-language": "en-US,en;q=0.5",
  //     "cache-control": "no-cache",
  //     "pragma": "no-cache",
  //     "sec-fetch-dest": "iframe",
  //     "sec-fetch-mode": "navigate",
  //     "sec-fetch-site": "cross-site",
  //     "sec-gpc": "1",
  //     "upgrade-insecure-requests": "1"
  //   },
  //   "referrer": "https://www.jakessteamer.com/",
  //   "referrerPolicy": "origin-when-cross-origin",
  //   "body": null,
  //   "method": "GET",
  //   "mode": "cors",
  //   "credentials": "omit"
  // });

  let data = await fetch(
    'https://app.housecallpro.com/alpha/organizations/99a699f2-c01d-4a40-9690-d49c6b8eea83/reviews?page=1&count=10',
    {
      headers: {
        accept: '*/*',
        'accept-language': 'en-US,en;q=0.9',
        'cache-control': 'no-cache',
        pragma: 'no-cache',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-site',
      },
      referrer: 'https://client.housecallpro.com/',
      referrerPolicy: 'strict-origin-when-cross-origin',
      body: null,
      method: 'OPTIONS',
      mode: 'cors',
      credentials: 'omit',
    },
  );

  // let data = {
  //     "object": "list",
  //     "page": 1,
  //     "page_size": 10,
  //     "total_pages_count": 10,
  //     "total_count": 100,
  //     "data": [
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-17T21:05:23Z",
  //             "customer_name": "Cynthia Escalate",
  //             "rating": 5.0,
  //             "comments": "Fantastic job on my carpet!",
  //             "first_name": "Cynthia",
  //             "last_name": "Escalate",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-14T21:51:20Z",
  //             "customer_name": "Church Of God",
  //             "rating": 5.0,
  //             "comments": "Great service!",
  //             "first_name": "Church",
  //             "last_name": "Of God",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-13T21:51:27Z",
  //             "customer_name": "Lacie Sanders",
  //             "rating": 5.0,
  //             "comments": "There was a paint stain in the floor and they were able to remove it. They were fast and friendly! Will definitely use again!",
  //             "first_name": "Lacie",
  //             "last_name": "Sanders",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-13T03:47:05Z",
  //             "customer_name": "Joelle Samson",
  //             "rating": 5.0,
  //             "comments": "Jake went above and beyond helping my husband and I after our tenants left our home with paint stains, pet urine and who knows what else throughout the home. Highly recommended for even the grossest of messes! ",
  //             "first_name": "Joelle",
  //             "last_name": "Samson",
  //             "pros": []
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-08T14:47:01Z",
  //             "customer_name": "Ginger Taylor",
  //             "rating": 5.0,
  //             "comments": "Thank you for your service! Very professional and knowledgeable. I’ll definitely use them again. ",
  //             "first_name": "Ginger Taylor",
  //             "last_name": "",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-06T14:58:11Z",
  //             "customer_name": "Jamie Massey",
  //             "rating": 5.0,
  //             "comments": "My carpets look.great!",
  //             "first_name": "Jamie",
  //             "last_name": "Massey",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-06T13:28:04Z",
  //             "customer_name": "Keep On Trucking",
  //             "rating": 5.0,
  //             "comments": "Jake from Jake's Steamers was both professional and courteous. There is a reason he is the best here in Seminole. Just Wow. ",
  //             "first_name": "Keep On Trucking",
  //             "last_name": "",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-05T01:36:25Z",
  //             "customer_name": "Debbie DARBY",
  //             "rating": 5.0,
  //             "comments": "",
  //             "first_name": "Debbie",
  //             "last_name": "DARBY",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-10-04T22:29:38Z",
  //             "customer_name": "Atlas (Paster Jimmy) Church",
  //             "rating": 5.0,
  //             "comments": "",
  //             "first_name": "Atlas (Paster Jimmy)",
  //             "last_name": "Church",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677"
  //             ]
  //         },
  //         {
  //             "object": "review",
  //             "created_at": "2022-09-28T19:46:55Z",
  //             "customer_name": "Travis Wallis",
  //             "rating": 5.0,
  //             "comments": "",
  //             "first_name": "Travis",
  //             "last_name": "Wallis",
  //             "pros": [
  //                 "pro_1b21840038894d64aafc649f907ab677",
  //                 "pro_782c4de92f4d46cb889147656fdd28e2"
  //             ]
  //         }
  //     ],
  //     "url": "/reviews"
  // };
  const { overall_rating, total_ratings } = fetch(
    'https://app.housecallpro.com/alpha/organizations/99a699f2-c01d-4a40-9690-d49c6b8eea83/rating',
    {
      headers: {
        accept: 'application/json, text/plain, */*',
        'accept-language': 'en-US,en;q=0.5',
        'cache-control': 'no-cache',
        pragma: 'no-cache',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-site',
        'sec-gpc': '1',
        'segment-device-context':
          'eyJvcyI6eyJuYW1lIjoiV2ViIn0sInVzZXJBZ2VudCI6Ik1vemlsbGEvNS4wIChMaW51eDsgQW5kcm9pZCA4LjAuMDsgU00tRzk1NVUgQnVpbGQvUjE2TlcpIEFwcGxlV2ViS2l0LzUzNy4zNiAoS0hUTUwsIGxpa2UgR2Vja28pIENocm9tZS84Ny4wLjQyODAuMTQxIE1vYmlsZSBTYWZhcmkvNTM3LjM2In0=',
        'x-csrf-token': 'undefined',
      },
      referrer: 'https://client.housecallpro.com/',
      referrerPolicy: 'strict-origin-when-cross-origin',
      body: null,
      method: 'GET',
      mode: 'cors',
      credentials: 'omit',
    },
  );

  const starRating = (rating) => {
    let stars = '';
    for (let i = 0; i < rating; i++) {
      stars += '⭐';
    }
    return stars;
  };

  starRating(overall_rating);
  const {
    data: [{ review }],
  } = fetch(
    'https://app.housecallpro.com/alpha/organizations/99a699f2-c01d-4a40-9690-d49c6b8eea83/reviews?page=1&count=10',
    {
      headers: {
        accept: '*/*',
        'accept-language': 'en-US,en;q=0.9',
        'cache-control': 'no-cache',
        pragma: 'no-cache',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-site',
      },
      referrer: 'https://client.housecallpro.com/',
      referrerPolicy: 'strict-origin-when-cross-origin',
      body: null,
      method: 'OPTIONS',
      mode: 'cors',
      credentials: 'omit',
    },
  );
</script>
