---
const { content } = Astro.props;
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      /* Remove navbar flicker */
      [x-cloak] {
        display: none !important;
      }
    </style>

    <link rel="stylesheet" href="../main.css" />
    <title>{content.title}</title>
  </head>
  <body
    class="flex flex-col bg-white text-slate-500 antialiased dark:bg-slate-900 dark:text-slate-400"
  >
    <Navbar />
    <slot />
    <Footer />
    <!-- <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> -->
  </body>
</html>
